[submodule "reminder-app-play"]
	path = reminder-app-play
	url = https://github.com/bakku/reminder-app-play
[submodule "reminder-app-rails"]
	path = reminder-app-rails
	url = https://github.com/bakku/reminder-app-rails.git
[submodule "reminder-app-django"]
	path = reminder-app-django
	url = https://github.com/bakku/reminder-app-django.git
[submodule "reminder-app-laravel"]
	path = reminder-app-laravel
	url = https://github.com/bakku/reminder-app-laravel.git
